.units-group:after, .Slideshow-mask:after {
  content: "";
  display: table;
  clear: both; }

@font-face {
  font-family: 'Museo-300';
  font-style: normal;
  font-weight: 300;
  src: url(../../assets/fonts/MUSEO300-REGULAR_0.OTF) format("OpenType"); }
@font-face {
  font-family: 'Museo-500';
  font-style: normal;
  font-weight: 500;
  src: url(../../assets/fonts/MUSEO500-REGULAR.OTF) format("OpenType"); }
@font-face {
  font-family: 'Museo-Slab-500';
  font-style: normal;
  font-weight: 500;
  src: url(../../assets/fonts/MUSEO_SLAB_0.OTF) format("OpenType"); }
@font-face {
  font-family: 'Museo-700';
  font-style: bold;
  font-weight: 700;
  src: url(../../assets/fonts/MUSEO700-REGULAR.OTF) format("OpenType"); }
@font-face {
  font-family: 'icomoon';
  src: url(../../assets/fonts/icomoon.eot?t40tpz);
  src: url(../../assets/fonts/icomoon.eot?#iefixt40tpz) format("embedded-opentype"), url(../../assets/fonts/icomoon.woff?t40tpz) format("woff"), url(../../assets/fonts/icomoon.ttf?t40tpz) format("truetype"), url(../../assets/fonts/comoon.svg?t40tpz#icomoon) format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-list:before {
  content: "\e605"; }

.icon-equal:before {
  content: "\e600"; }

.icon-pian:before {
  content: "\e601"; }

.icon-panel:before {
  content: "\e604"; }

.icon-papper:before {
  content: "\e608"; }

.icon-music:before {
  content: "\e609"; }

.icon-headp:before {
  content: "\e60a"; }

.icon-mb:before {
  content: "\e602"; }

.icon-mbx:before {
  content: "\e603"; }

.icon-tb:before {
  content: "\e606"; }

.icon-works:before {
  content: "\e60b"; }

.icon-play:before {
  content: "\e60d"; }

.icon-pause:before {
  content: "\e60e"; }

.icon-next:before {
  content: "\e60f"; }

.icon-previous:before {
  content: "\e610"; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

html {
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

body {
  font-family: "Museo-300", sans-serif;
  margin: 0; }

a {
  color: #f8296d;
  background: transparent;
  text-decoration: none; }
  a:focus {
    outline: thin dotted; }
  a:hover, a:active {
    outline: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

h6 {
  font-size: 0.75em;
  margin: 2.33em 0; }

img {
  width: 100%;
  height: 100%; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

q:before, q:after {
  content: '';
  content: none; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

button, input {
  line-height: normal; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }
  input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

.wrapper {
  padding: .5em;
  margin: 0 auto; }
  @media screen and (min-width: 768px) {
    .wrapper {
      width: 720px; } }
  @media screen and (min-width: 940px) {
    .wrapper {
      width: 920px;
      padding: .5em; } }
  @media screen and (min-width: 1200px) {
    .wrapper {
      width: 1170px; } }

.units-group .units {
  padding-left: 16px;
  padding-right: 16px;
  float: left;
  min-height: 1px;
  box-sizing: border-box; }

.units-group [class*='push-'],
.units-group [class*='pull-'] {
  position: relative; }

.units-sm-1 {
  width: 8.33333%; }

.units-sm-2 {
  width: 16.66667%; }

.units-sm-3 {
  width: 25%; }

.units-sm-4 {
  width: 33.33333%; }

.units-sm-5 {
  width: 41.66667%; }

.units-sm-6 {
  width: 50%; }

.units-sm-7 {
  width: 58.33333%; }

.units-sm-8 {
  width: 66.66667%; }

.units-sm-9 {
  width: 75%; }

.units-sm-10 {
  width: 83.33333%; }

.units-sm-11 {
  width: 91.66667%; }

.units-sm-12 {
  width: 100%; }

@media screen and (min-width: 768px) {
  .units-md-1 {
    width: 8.33333%; }

  .units-md-2 {
    width: 16.66667%; }

  .units-md-3 {
    width: 25%; }

  .units-md-4 {
    width: 33.33333%; }

  .units-md-5 {
    width: 41.66667%; }

  .units-md-6 {
    width: 50%; }

  .units-md-7 {
    width: 58.33333%; }

  .units-md-8 {
    width: 66.66667%; }

  .units-md-9 {
    width: 75%; }

  .units-md-10 {
    width: 83.33333%; }

  .units-md-11 {
    width: 91.66667%; }

  .units-md-12 {
    width: 100%; }

  .units-group {
    margin-left: -16px;
    margin-right: -16px; } }
@media screen and (min-width: 940px) {
  .pull-lg-1 {
    left: 8.33333%; }

  .units-lg-1 {
    width: 8.33333%; }

  .pull-lg-2 {
    left: 16.66667%; }

  .units-lg-2 {
    width: 16.66667%; }

  .pull-lg-3 {
    left: 25%; }

  .units-lg-3 {
    width: 25%; }

  .pull-lg-4 {
    left: 33.33333%; }

  .units-lg-4 {
    width: 33.33333%; }

  .pull-lg-5 {
    left: 41.66667%; }

  .units-lg-5 {
    width: 41.66667%; }

  .pull-lg-6 {
    left: 50%; }

  .units-lg-6 {
    width: 50%; }

  .pull-lg-7 {
    left: 58.33333%; }

  .units-lg-7 {
    width: 58.33333%; }

  .pull-lg-8 {
    left: 66.66667%; }

  .units-lg-8 {
    width: 66.66667%; }

  .pull-lg-9 {
    left: 75%; }

  .units-lg-9 {
    width: 75%; }

  .pull-lg-10 {
    left: 83.33333%; }

  .units-lg-10 {
    width: 83.33333%; }

  .pull-lg-11 {
    left: 91.66667%; }

  .units-lg-11 {
    width: 91.66667%; }

  .pull-lg-12 {
    left: 100%; }

  .units-lg-12 {
    width: 100%; } }
@media screen and (min-width: 1200px) {
  .units-xl-1 {
    width: 8.33333%; }

  .units-xl-2 {
    width: 16.66667%; }

  .units-xl-3 {
    width: 25%; }

  .units-xl-4 {
    width: 33.33333%; }

  .units-xl-5 {
    width: 41.66667%; }

  .units-xl-6 {
    width: 50%; }

  .units-xl-7 {
    width: 58.33333%; }

  .units-xl-8 {
    width: 66.66667%; }

  .units-xl-9 {
    width: 75%; }

  .units-xl-10 {
    width: 83.33333%; }

  .units-xl-11 {
    width: 91.66667%; }

  .units-xl-12 {
    width: 100%; } }
body {
  background: linear-gradient(to right, #0b0b0b 15%, #201746);
  color: white; }

.Header {
  position: relative;
  background-color: transparent;
  border-top: solid 8px black; }

.Header-icons {
  display: none; }

.Header-logo {
  background: url(../../assets/images/Krost.png);
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 0 auto;
  display: inline-block;
  height: 50px;
  width: 185px;
  margin-left: 10px; }

.Header-display {
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
  font-size: 2em; }

.Header-navigation {
  position: relative;
  height: auto;
  display: none; }

.Header-items {
  padding: 0;
  margin: 8px 0 2px 0;
  text-align: left; }

.Header-item {
  display: block; }

.Header-item a {
  display: block;
  padding: .5em 1em;
  text-transform: uppercase;
  font-size: 14px; }

.Profiles,
.Main {
  position: relative;
  background: url(../../assets/images/the_fountain_of_light-1920x1080.jpg);
  background-attachment: fixed;
  width: 100%;
  z-index: 0; }
  @media screen and (min-width: 768px) {
    .Profiles,
    .Main {
      background-size: cover; } }

.Profiles {
  background-image: url(../../assets/images/bg_1.jpg); }

.Slideshow {
  position: relative;
  overflow: hidden;
  padding: 0; }

.Slideshow-items {
  list-style: none;
  padding: 0;
  margin: 0; }

.Slideshow-item {
  position: relative;
  width: 100%; }

.Slideshow-event {
  position: relative;
  text-align: left; }
  .Slideshow-event img {
    width: 100%;
    position: relative; }
    @media screen and (min-width: 940px) {
      .Slideshow-event img {
        width: 70%; } }

.Slideshow-date {
  position: relative;
  background-color: #ff2a70;
  padding: 1em 2em; }
  @media screen and (min-width: 940px) {
    .Slideshow-date {
      position: absolute;
      right: -6px;
      top: 0;
      width: 93px;
      min-height: 160px;
      text-align: center;
      padding: .3em .6em; } }
  @media screen and (min-width: 1200px) {
    .Slideshow-date {
      top: 25px;
      right: 22px; } }

.Slideshow-date .day,
.Slideshow-date .month {
  display: block; }
.Slideshow-date .day {
  font-size: 2em; }
.Slideshow-date .month {
  font-family: 'Museo-500';
  font-size: 1.5em; }
  @media screen and (min-width: 940px) {
    .Slideshow-date .month {
      font-family: 'Museo-300';
      font-size: 1em; } }

.Slideshow-hor {
  position: absolute;
  width: 80px;
  right: 15px;
  top: 17px; }
  @media screen and (min-width: 940px) {
    .Slideshow-hor {
      position: absolute;
      bottom: 21px;
      top: initial; } }
  .Slideshow-hor .hour {
    font-size: 2em; }
  .Slideshow-hor .left-time {
    display: inline-block;
    vertical-align: top; }
  .Slideshow-hor .minute,
  .Slideshow-hor .hor {
    display: block;
    vertical-align: top; }

.Slideshow-content {
  margin-top: .5em; }

.Slideshow-name {
  text-transform: uppercase;
  font-size: .8em; }

.Slideshow-title {
  font-size: 2.3em;
  margin: .2em 0 .5em; }

.Slideshow-text {
  font-size: .9em;
  padding-bottom: 1.1em;
  border-bottom: solid 1px #fdfdfb; }

.Slideshow-mask {
  background-color: rgba(0, 0, 0, 0.7);
  padding: .7em;
  margin-bottom: .3em;
  display: none; }
  @media screen and (min-width: 940px) {
    .Slideshow-mask {
      display: block; } }

.Slideshow-mask-item * {
  display: block; }

.Slideshow-mask-item {
  width: 33.33333%;
  float: left;
  text-align: center; }

.Slideshow-mask-i {
  font-size: 2em; }

.Slideshow-mask-txt {
  font-size: 14px; }

.Slideshow-prev,
.Slideshow-next {
  display: inline-block;
  padding: .3em .6em;
  background-color: #ff2a70;
  color: white;
  -webkit-user-select: none; }

.GetTicket {
  position: relative;
  text-align: center;
  min-height: 210px; }
  @media screen and (min-width: 768px) {
    .GetTicket {
      top: 140px;
      text-align: right; } }

.Club .GetTicket {
  top: 0;
  text-align: left; }

.GetTicket-items {
  padding: 0;
  margin: 0;
  list-style: none; }

.GetTicket-item {
  margin-bottom: .5em; }

.GetTicket-item a {
  padding: .3em 0;
  color: white;
  text-transform: uppercase;
  font-size: .9em;
  font-family: 'Museo-500'; }
  .GetTicket-item a.active {
    color: #ff236c; }

.GetTicket-item em {
  color: #ff236c;
  font-family: 'Museo-300';
  font-size: .8em;
  margin-right: .4em; }

.GetTicket-text {
  font-size: .9em; }

.GetTicket-desc {
  font-size: .8em;
  display: block; }

.GetTicket-name {
  text-transform: uppercase;
  font-size: 2em;
  color: #00dee8;
  margin-top: .1em;
  margin-bottom: .1em; }
  .GetTicket-name strong {
    font-family: 'Museo-700';
    color: #fc2872; }

.GetTicket-day {
  text-transform: uppercase;
  font-family: 'Museo-700';
  font-size: 1.5em;
  word-spacing: -3px; }

.GetTicket-now {
  position: relative;
  top: 23px; }

.GetTicket-now-txt {
  display: block;
  vertical-align: top;
  margin-right: 0;
  margin-bottom: 1em; }
  @media screen and (min-width: 940px) {
    .GetTicket-now-txt {
      display: inline-block;
      margin-right: 1em;
      margin-bottom: 1em; } }
  .GetTicket-now-txt strong,
  .GetTicket-now-txt span {
    display: block; }
  .GetTicket-now-txt span {
    text-transform: uppercase;
    font-size: .6em; }

.PhotoEvent {
  display: none;
  margin-top: 2em;
  margin-left: 2em; }
  @media screen and (min-width: 940px) {
    .PhotoEvent {
      display: block; } }

.PhotoEvent-items {
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 1em; }

.PhotoEvent-item {
  width: 150px;
  height: 150px;
  margin: 0 0px 55px 0;
  display: inline-block;
  transform: rotate(45deg);
  border: solid 2px white; }
  .PhotoEvent-item img {
    position: relative;
    width: 100%;
    height: 100%; }

.PhotoEvent-items:nth-child(even) {
  left: 111px;
  margin-top: -96px;
  margin-bottom: -113px; }

.PhotoEvent-item + .PhotoEvent-item {
  margin-left: 4em; }

.Timing {
  position: relative;
  text-align: right; }
  .Timing [class*='btn'] {
    margin-top: 1em; }

.Timing-items {
  padding: 0;
  padding-bottom: 1.1em;
  border-bottom: solid 1px white;
  margin: 0;
  list-style: none; }

.Timing-item {
  position: relative;
  display: block;
  max-height: 100px;
  overflow: hidden; }

.Timing-date,
.Timing-desc {
  display: inline-block;
  vertical-align: middle; }

.Timing-date {
  padding: .4em;
  background-color: #ff2a70;
  text-align: center;
  width: 23%; }

.Timing-day {
  display: block;
  font-family: 'Museo-700';
  font-size: 1.6em; }

.Timing-month {
  text-transform: lowercase; }

.Timing-desc {
  width: 70%;
  text-align: left; }
  .Timing-desc h3 {
    font-size: .8em; }
  .Timing-desc p {
    font-size: .7em;
    text-overflow: ellipsis; }

.Event-desc, .Event-title,
.Event-txt {
  -webkit-transition: transform .40s ease-in-out;
  transition: transform .40s ease-in-out; }

.Events {
  position: relative;
  overflow: hidden; }
  @media screen and (min-width: 768px) {
    .Events {
      width: 75%;
      margin: 0 auto; } }

.Events-items {
  display: none;
  overflow: hidden;
  vertical-align: top;
  width: 528px; }
  @media screen and (min-width: 768px) {
    .Events-items {
      display: inline-block; } }

.Event-picture {
  position: relative;
  width: 170px;
  height: 168px;
  display: inline-block; }

.Event-icon {
  position: absolute;
  right: 20px;
  top: 20px;
  transform: translate3d(0, -60px, 0);
  font-size: 2em;
  color: #ff2a70;
  transition: transform .45s;
  -webkit-transition: transform .45s; }

.Event-desc {
  position: absolute;
  bottom: 0;
  padding: .2em .8em;
  left: 0;
  right: 0;
  background: #ff2a70;
  transform: translate3d(0, 64px, 0); }

.Event-title {
  text-transform: uppercase;
  font-family: 'Museo-700'; }

.Event-txt {
  font-size: .8em; }

.Event-title,
.Event-txt {
  margin: .4em 0;
  transform: translate3d(0, 120px, 0); }

.Event-picture:hover .Event-icon,
.Event-picture:hover .Event-desc,
.Event-picture:hover .Event-title,
.Event-picture:hover .Event-txt {
  transform: translate3d(0, 0, 0); }

.Events-items--active {
  overflow: hidden;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin: 0 auto; }
  @media screen and (min-width: 940px) {
    .Events-items--active {
      display: inline-block;
      border-radius: 0;
      width: 340px;
      height: 340px; } }
  .Events-items--active .Event-picture {
    width: 100%;
    height: 100%; }

.LineTime {
  position: relative;
  display: none;
  margin-bottom: 4em; }
  @media screen and (min-width: 940px) {
    .LineTime {
      display: block; } }
  .LineTime:before {
    position: absolute;
    content: '';
    top: 64%;
    left: 0;
    right: 0;
    height: 2px;
    z-index: -99999;
    background-color: white; }

.LineTime-event {
  display: inline-block;
  position: relative;
  width: 114px;
  margin-right: 7%;
  margin-left: 7%;
  margin-top: 3em;
  text-align: center; }
  .LineTime-event:last-child {
    margin-right: 0; }

.LineTime-day {
  font-size: 2em; }

.LineTime-month {
  font-size: .8em; }

.LineTime-day,
.LineTime-month {
  display: block;
  text-transform: uppercase; }

.LineTime-hour {
  position: absolute;
  top: 52px;
  left: 0;
  right: 0; }

.LineTime-hor {
  font-size: 1.6em; }

.left-time {
  display: inline-block;
  vertical-align: top; }
  .left-time * {
    display: block;
    vertical-align: top; }

input[type='radio'] {
  position: relative;
  top: 2.7em; }

.LineTime-title {
  margin: 0; }

.LineTime-txt {
  text-transform: uppercase;
  font-size: .7em; }

.LineTime-desc {
  margin-top: 3em; }

.Page {
  background-image: url("../../assets/images/03_homepage_3.jpg"); }

.Dance {
  display: none;
  position: absolute;
  top: -86px;
  z-index: 3;
  right: 0;
  background-image: url("../../assets/images/lachy-designs.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 220px;
  height: 220px; }
  @media screen and (min-width: 768px) {
    .Dance {
      background-position: top right;
      display: block; } }

.Newsletter {
  position: relative;
  width: 100%;
  margin: 0 auto;
  text-align: center; }
  @media screen and (min-width: 768px) {
    .Newsletter {
      width: 60%;
      text-align: initial; } }

@media screen and (min-width: 768px) {
  .Newsletter-form {
    width: 60%; } }

.Newsletter-title {
  font-size: 1.2em;
  text-transform: uppercase;
  margin-bottom: .2em; }

.Newsletter-desc {
  display: block;
  margin-bottom: .8em;
  font-size: .8em; }

.Newsletter-input {
  display: inline-block;
  vertical-align: top;
  border-radius: .3em;
  outline: 0;
  padding: .4em .4em;
  border: none;
  font-style: italic;
  font-size: .9em;
  width: 60%; }

.Speaker {
  margin-bottom: 2em;
  text-align: center;
  display: inline-block;
  width: 100%; }
  @media screen and (min-width: 940px) {
    .Speaker {
      width: auto; } }

.Speaker-Picture {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 50%;
  display: inline-block; }
  @media screen and (min-width: 768px) {
    .Speaker-Picture {
      margin-right: .7em; } }
  @media screen and (min-width: 1200px) {
    .Speaker-Picture {
      width: 240px;
      height: 240px; } }

.Speaker-Body {
  display: inline-block;
  margin-top: 1em;
  vertical-align: top; }
  @media screen and (min-width: 768px) {
    .Speaker-Body {
      width: 50%;
      margin-top: 0; } }
  @media screen and (min-width: 1200px) {
    .Speaker-Body {
      width: 300px;
      margin-right: 1.7em; } }

.Speaker-Name {
  margin: 0;
  font-size: 1.5em; }

.Speaker-History {
  text-align: left;
  font-size: .9em; }

.Speaker-Item {
  width: 33.33333%;
  float: left;
  box-sizing: border-box;
  font-size: .8em; }
  .Speaker-Item:not(:first-child):not(:last-child) {
    border-left: solid 1px white;
    border-right: solid 1px white; }
  .Speaker-Item * {
    display: block; }

.Speaker-Icon {
  position: relative;
  font-size: 3em;
  margin-bottom: .3em; }
  .Speaker-Icon:after {
    position: absolute;
    content: '';
    color: #f92e70;
    text-transform: uppercase;
    bottom: -3px;
    left: 0;
    right: 0;
    font-size: 10px;
    text-align: center;
    font-style: normal; }
  .Speaker-Icon.debut:after {
    content: 'debut'; }
  .Speaker-Icon.next:after {
    content: 'next gig'; }
  .Speaker-Icon.gen:after {
    content: 'genre'; }

.Speaker-Text {
  word-spacing: 300px; }

.Reserve-Title {
  display: inline-block;
  font-size: 1.1em; }

.Reserve-Icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: .4em;
  font-size: 2em; }

.Reserve-Text {
  margin-top: 0;
  font-size: .9em; }

.Reserve-Form {
  counter-reset: section; }

.Reserve-InputContainer {
  position: relative;
  width: 100%;
  margin-bottom: .7em;
  box-sizing: border-box; }
  .Reserve-InputContainer * {
    height: 40px;
    box-sizing: border-box; }

.Reserve-Holder {
  position: relative;
  float: left;
  padding: .3em .5em;
  width: 15%;
  text-align: center;
  line-height: 2;
  color: white;
  background-color: #00f2ff; }
  .Reserve-Holder:before {
    position: absolute;
    counter-increment: section;
    content: counter(section);
    left: 0;
    right: 0; }

.Reserve-Input {
  width: 85%;
  padding: .3em .5em;
  border: none;
  outline: none;
  color: gray; }

.Booking {
  background-color: rgba(0, 0, 0, 0.4);
  font-size: 0;
  user-select: none;
  -webkit-user-select: none; }

.Booking-Table {
  width: 33.33333%;
  height: 150px;
  display: inline-block;
  text-align: center;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  margin-bottom: 1em; }
  .Booking-Table:hover img {
    -webkit-filter: grayscale(1); }
  .Booking-Table img {
    width: 80%; }

.u-btn {
  position: relative;
  display: inline-block;
  padding: .5em 1em;
  color: white;
  background-color: transparent;
  border-radius: .16em;
  text-transform: uppercase;
  border: 2px solid transparent;
  vertical-align: middle; }
  .u-btn--underline {
    border-color: #ff2a70;
    color: #d0d5d9; }
  .u-btn--primary {
    background-color: #ff2a70; }
  .u-btn--secondary {
    background-color: #00f2ff; }
  .u-btn strong {
    font-size: 1.2em;
    color: white; }

.BlurredSection {
  position: relative;
  background: url(../../assets/images/texture.png) transparent;
  width: 100%;
  height: 100%; }

.Heading {
  position: relative;
  text-align: center;
  margin-bottom: 2em; }
  .Heading:before, .Heading:after {
    position: absolute;
    content: '';
    border: solid 8px #ff2a70;
    border-left: solid 8px transparent !important;
    border-radius: 50%;
    bottom: -18px;
    left: 47.2%;
    transform: rotate(55deg); }
  .Heading:after {
    border-color: white;
    left: initial;
    right: 47.2%;
    transform: rotate(100deg);
    bottom: -22px; }

.Heading-title:before, .Heading-title:after {
  position: absolute;
  content: '';
  width: 22%;
  height: 3px;
  bottom: -10px;
  border-bottom: solid 1px; }
.Heading-title:before {
  left: 28%;
  border-color: #ff2a70; }
.Heading-title:after {
  right: 28%;
  bottom: -15px; }

.units:nth-child(odd) {
  margin-bottom: 1em; }

.Navigation-list,
.Navigation-list--last {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-top: 10px; }

.Navigation-item {
  display: block;
  margin-bottom: .2em; }

.Navigation-item:last-child {
  margin-bottom: 0; }

.Navigation-item a {
  color: white;
  text-align: center;
  display: block;
  padding: .9em 1em;
  border-radius: .5em .5em 0 0;
  transition: all .3s ease-in-out; }
  .Navigation-item a:hover {
    background-color: black; }

.Navigation-list--last {
  margin-top: 0;
  background-color: black;
  display: none; }

/* MainHome*/
.MainHome {
  background-color: #213338;
  color: white; }

.MainHome .development {
  background-image: url("../../assets/images/banner.png");
  background-size: 45%;
  background-position: center right;
  background-repeat: no-repeat; }

.MainHome-title {
  font-size: 2.2em;
  font-weight: 300;
  line-height: 1.1; }
  .MainHome-title strong {
    font-family: 'Roboto Slab',serif;
    display: block;
    color: #f6bd39; }

.MainHome-list {
  padding: 0 .7em 0 .7em; }

/* Courses */
.Courses {
  background-color: white;
  color: gray; }

.Courses-title {
  display: block;
  text-align: center;
  font-weight: 300;
  color: #565656; }

.Courses-level {
  text-align: center; }

[class*='MainCurses-level'] {
  position: relative;
  display: inline-block;
  margin-right: 20px; }
  [class*='MainCurses-level']:before {
    display: inline-block;
    vertical-align: top;
    content: '';
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: green;
    margin-right: 5px; }

.Courses-topics {
  position: relative;
  margin: 0 auto;
  height: 757px;
  width: 210px;
  background-image: url("../../assets/images/courses-all.png");
  background-size: 951px 2050px;
  background-position: 0 -1294px; }

.Courses-item {
  width: 77px;
  height: 80px;
  background-color: red;
  position: absolute; }

.Courses-item:nth-child(1) {
  left: 0;
  top: 154px; }

.Courses-item:nth-child(2) {
  left: 0;
  top: 308px; }

.Courses-item:nth-child(3) {
  left: 0;
  top: 462px; }

.Courses-item:nth-child(4) {
  left: 0;
  top: 616px; }

.Courses-item:nth-child(5) {
  left: 0;
  top: 770px; }

.Courses-item:nth-child(6) {
  left: 0;
  top: 924px; }

.Courses-item:nth-child(7) {
  left: 0;
  top: 1078px; }

.Courses-item:nth-child(8) {
  left: 0;
  top: 1232px; }

.ss__styles--dashed:before, .ss__styles--dashed:after,
.ss__styles--triangle:before,
.ss__styles--triangle:after,
.ss__styles--perpen:before,
.ss__styles--perpen:after {
  position: absolute;
  content: ''; }

.ss__styles--dashed:before, .ss__styles--dashed:after {
  top: 8px;
  width: 30%;
  border-top: solid 3px #0ebfa2; }
.ss__styles--dashed:after {
  width: 60%;
  right: 0; }

/* Device */
.Device {
  position: relative;
  width: 200px;
  height: 350px;
  background-color: white;
  border-radius: 1em;
  margin: 0 auto; }
  .Device:before {
    position: absolute;
    content: '';
    left: 100px;
    top: 10px;
    height: 10px;
    width: 10px;
    border-radius: 100%;
    background-color: #cfcece; }
  .Device:after {
    position: absolute;
    content: '';
    left: 85px;
    bottom: 15px;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    background-color: #cfcece; }

.Device__screen {
  position: absolute;
  width: 170px;
  height: 258px;
  background-color: rgba(39, 155, 177, 0.71);
  border-top: solid 5px #279bb1;
  margin: 36px 15px; }
  .Device__screen:before {
    position: absolute;
    content: '';
    top: -16px;
    left: 56px;
    width: 65px;
    height: 5px;
    background-color: #cfcece;
    border-radius: 19px; }

/*# sourceMappingURL=main.css.map */
