body {
   background: linear-gradient(to right, rgba(11, 11, 11, 1) 15%, #201746);
   color: white;
}



.Header {
    position: relative;
    background-color: transparent;
    border-top: solid 8px black;
}

   .Header-icons {
       display: none;
   }

   .Header-logo {
       background: url(../../assets/images/Krost.png);
       background-size: 100%;
       background-repeat: no-repeat;
       margin: 0 auto;
       display: inline-block;
       height: 50px;
       width: 185px;
       margin-left: 10px;
   }

   .Header-display {
       position: absolute;
       right: 15px;
       top: 15px;
       cursor: pointer;
       font-size: 2em;
   }

   .Header-navigation {
       position: relative;
       height: auto;
       display: none;
   }

      .Header-items {
          padding: 0;
          margin: 8px 0 2px 0;
          text-align: left;
      }

         .Header-item {  display: block;  }
         .Header-item a {
         	display: block;
         	padding: .5em 1em;
         	text-transform: uppercase;
         	font-size: 14px;
         }











//SLIDESHOW
.Profiles,
.Main {
   position: relative;
   background: url(../../assets/images/the_fountain_of_light-1920x1080.jpg);
   background-attachment: fixed;  
   width: 100%;
   z-index: 0;
   @include respond-to(mediun-device) {	
      background-size: cover;
   }
}

.Profiles {
   background-image: url(../../assets/images/bg_1.jpg);
}

.Slideshow {
    position: relative;
    overflow: hidden;
    padding: 0;
    @include respond-to(mediun-device) {
       //
    }
}
   
   .Slideshow-items {
       list-style: none;
       padding: 0;
       margin: 0;
   }

      .Slideshow-item {
          position: relative;
          width: 100%;
      }

         .Slideshow-event {
         	position: relative;
         	text-align: left;

         	& img {
         	   width: 100%;
         	   position: relative;
         	   @include respond-to(large-device) {
         	       width: 70%;
         	   }
         	}
         }

          .Slideshow-date {
          	position: relative;
          	background-color: #ff2a70;
          	padding: 1em 2em;
          	@include respond-to(large-device) {
          	    position: absolute;
          	    right: -6px;
          	    top: 0;
          	    width: 93px;
          	    min-height: 160px;
          	    text-align: center;
          	    padding: .3em .6em;
          	 }
          	 @include respond-to(xlarge-device) {
          	    top: 25px;
          	    right: 22px;
          	}
          }

          .Slideshow-date {
          	.day,
          	.month { 
          	     display: block; 
          	 }

          	.day { font-size: 2em; }
          	.month { 
          	    font-family: 'Museo-500'; 
          	    font-size: 1.5em;
          	    @include respond-to(large-device) {
          	       font-family: 'Museo-300';
          	       font-size: 1em;
          	    }
          	}
          }

          .Slideshow-hor {
          	position: absolute;
          	width: 80px;
          	right: 15px;
          	top: 17px;
          	@include respond-to(large-device) {
          	    position: absolute;
          	    bottom: 21px;
          	    top: initial;
          	}

          	.hour { font-size: 2em; }

          	.left-time {
          	    display: inline-block;
          	    vertical-align: top;
          	}

          	.minute,
          	.hor {
                display: block;
                vertical-align: top;
          	}
          }


	.Slideshow-content { 
	    margin-top: .5em; 
	}

	   .Slideshow-name {
	       text-transform: uppercase;
	       font-size: .8em;
	   }

	   .Slideshow-title {
	       font-size: 2.3em;
	       margin: .2em 0 .5em;
	   }

	   .Slideshow-text {
	       font-size: .9em;
	       padding-bottom: 1.1em;
	       border-bottom: solid 1px #fdfdfb;
	   }

	   .Slideshow-mask {
	       background-color: rgba(0, 0, 0, .7); 
	       padding: .7em;
	       margin-bottom: .3em;
	       display: none;
	       @extend %clf;
	       @include respond-to(large-device) {
	          display: block;
	       }
	   }

	   .Slideshow-mask-item * { display: block;  }

	     .Slideshow-mask-item {
	         width: (100% / 3);
	         float: left;
	         text-align: center;
	     }

	        .Slideshow-mask-i { font-size: 2em; }
	        .Slideshow-mask-txt { font-size: 14px; }


     .Slideshow-prev,
     .Slideshow-next {
         display: inline-block;
         padding: .3em .6em;
         background-color: #ff2a70;
         color: white;
         -webkit-user-select: none;
     }

//GETTICKETS

.GetTicket { 
    position: relative;
    text-align: center;
    min-height: 210px;
    @include respond-to(mediun-device) {
       top: 140px;	
       text-align: right;
    }
}

.Club {
    .GetTicket {
    	top: 0;
    	text-align: left;
    }
}

    .GetTicket-items {
        padding: 0;
        margin: 0;
        list-style: none;
    }

       .GetTicket-item {  margin-bottom: .5em;}

       .GetTicket-item a {
          padding: .3em 0;
          color: white;
          text-transform: uppercase;
          font-size: .9em;
          font-family: 'Museo-500';

          &.active {
          	color: #ff236c;
          }
       }
       
       .GetTicket-item em {
           color: #ff236c;
           font-family: 'Museo-300';
           font-size: .8em;
           margin-right: .4em;
       }


.GetTicket-text { font-size: .9em; }
.GetTicket-desc {
    font-size: .8em;
    display: block;
}

.GetTicket-name {
   text-transform: uppercase;
   font-size: 2em;
   color: #00dee8;
   margin-top: .1em;
   margin-bottom: .1em;

   strong {
      font-family: 'Museo-700';
      color: #fc2872;
   }
}

.GetTicket-day {
    text-transform: uppercase;
    font-family: 'Museo-700';
    font-size: 1.5em;
    word-spacing: -3px;
}

.GetTicket-now {
    position: relative;
    top: 23px;
}

   .GetTicket-now-txt {
       display: block;; //inline-block in higher devices
       vertical-align: top;
       margin-right: 0; // 1em in higher devices
       margin-bottom: 1em; //0 in higher devices
       @include respond-to(large-device) {
          display: inline-block;
          margin-right: 1em;
          margin-bottom: 1em;
       }

      strong,
      span {
        display: block;
    }

    span {
        text-transform: uppercase;
        font-size: .6em;
    }
}



//PHOTOEVENT
.PhotoEvent {
    display: none;
    margin-top: 2em;
    margin-left: 2em;
    @include respond-to(large-device) {
       display: block;
      }	
}

.PhotoEvent-items {
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 1em;
    }

   .PhotoEvent-item {
       width: 150px;
       height: 150px;
       margin: 0 0px 55px 0;
       display: inline-block;
       transform: rotate(45deg);
       border: solid 2px white;

       img {
       	position: relative;
       	width: 100%;
       	height: 100%;
       }
   }

   .PhotoEvent-items:nth-child(even) {
      left: 111px;
      margin-top: -96px;
      margin-bottom: -113px;
   }

   .PhotoEvent-item + .PhotoEvent-item { margin-left: 4em; }


//TIMING

.Timing {
    position: relative;
    text-align: right;

    [class*='btn'] {
       margin-top: 1em;
    }
}

   .Timing-items {
       padding: 0;
       padding-bottom: 1.1em;
       border-bottom: solid 1px white;
       margin: 0;
       list-style: none;
   }

       .Timing-item {
          position: relative;
          display: block;
          max-height: 100px;
          overflow: hidden;
       }

       .Timing-date,
       .Timing-desc {
       	display: inline-block;
       	vertical-align: middle;
       }

       .Timing-date {
          padding: .4em;
          background-color: #ff2a70;
          text-align: center;
          width: 23%;
       }

          .Timing-day {
          	display: block;
          	font-family: 'Museo-700';
          	font-size: 1.6em;
          }

          .Timing-month {
          	text-transform: lowercase;
          }

       .Timing-desc {
           width: 70%;
           text-align: left;

           h3 {
           	font-size: .8em;
           }

           p {
           	font-size: .7em;
           	text-overflow: ellipsis;
           }
       }


//Events

%trans_form {
-webkit-transition: transform .40s ease-in-out;
             transition: transform .40s ease-in-out;
}

.Events {
    position: relative;
    overflow: hidden;
    @include respond-to(mediun-device) {
       width: 75%;
       margin: 0 auto;   	
    }
}



   .Events-items {
       display: none;
       overflow: hidden;
       vertical-align: top;
       width: 176px * 3;
       @include respond-to(mediun-device) {
       	display: inline-block;
       }
   }

      .Event-picture {
          position: relative;
          width: 170px;
          height: 168px;
          display: inline-block;
      }

          .Event-icon {
             position: absolute;
             right:  20px;
             top: 20px;
             transform: translate3d(0, -60px, 0);
             font-size: 2em;
             color: #ff2a70;
             transition: transform .45s;
             -webkit-transition: transform .45s;
            }

          .Event-desc {
          	position: absolute;
          	bottom: 0;
          	padding: .2em .8em;
          	left: 0;
          	right: 0;
          	background: #ff2a70;
          	transform: translate3d(0, 64px, 0);
          	@extend %trans_form;
          }


          	.Event-title {
          	    text-transform: uppercase;
          	    font-family: 'Museo-700';
          	}

          	.Event-txt { font-size: .8em; }

          	.Event-title,
          	.Event-txt {  
          	    margin: .4em 0;
	    transform: translate3d(0, 120px, 0);
	    @extend %trans_form;
          	}

          	.Event-picture {
          	    &:hover {
	       .Event-icon,
	       .Event-desc,
	       .Event-title,
	       .Event-txt { 
		transform: translate3d(0, 0, 0);
	       }      	        
          	    }
          	}


   .Events-items--active {
       overflow: hidden;
       border-radius: 50%;
       width: 200px;
       height: 200px;
       margin: 0 auto;
     @include respond-to(large-device) {
         display: inline-block;  	
         border-radius: 0;
         width: 340px;
         height: 340px;
     }

       .Event-picture {
       	width: 100%;
       	height: 100%;
       }
   }


  //LINETIME

  .LineTime {
      position: relative;
      display: none;
      margin-bottom: 4em;
      @include respond-to(large-device) {
        display: block;
      }

      &:before {
         position: absolute;
         content: '';
         top:64%;
         left: 0;
         right: 0;
         height: 2px;
         z-index: -99999;
         background-color: white;
      }
  }

      .LineTime-event {
         display: inline-block;
         position: relative;
         width: 114px;
         margin-right: 7%;
         margin-left: 7%;
         margin-top: 3em;
         text-align: center;

         &:last-child {
           margin-right: 0;
         }
      }


          .LineTime-day { font-size: 2em; }
          .LineTime-month {
              font-size: .8em;
          }

         .LineTime-day,
         .LineTime-month {
             display: block;
             text-transform: uppercase;
         }

         .LineTime-hour {
             position: absolute;
             top: 52px;
             left: 0;
             right: 0;
         }

            .LineTime-hor {
                font-size: 1.6em;
            }

            .left-time {
               display: inline-block;
               vertical-align: top;

               * {
                   display: block;
                   vertical-align: top;
               }
            }

         input[type='radio'] {
            position: relative;
            top: 2.7em;
         }

         .LineTime-title { margin: 0; }
         .LineTime-txt { 
            text-transform: uppercase;
            font-size: .7em;
          }
         .LineTime-desc { margin-top: 3em; }






//NEWSLETTER

.Page {
  background-image: url('../../assets/images/03_homepage_3.jpg');
}

.Dance {
     display: none;
     position: absolute;
     top: -86px;
     z-index: 3;
     right: 0;
     background-image: url('../../assets/images/lachy-designs.png');
     background-repeat: no-repeat;
     background-size: contain;
     width: 220px;
     height: 220px;
     @include respond-to(mediun-device) {
        background-position: top right;
        display: block;
     }
  }

.Newsletter {
    position: relative;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    @include respond-to(mediun-device) {
    width: 60%; //Higher devices
    text-align: initial;
    }
}

    .Newsletter-form {
        @include respond-to(mediun-device) {
           width: 60%;    
        }
    }

      .Newsletter-title {
         font-size: 1.2em;
         text-transform: uppercase;
         margin-bottom: .2em;
      }

          .Newsletter-desc {
            display: block;
            margin-bottom: .8em;
            font-size: .8em;
          }

          .Newsletter-input {
             display: inline-block;
             vertical-align: top;
             border-radius: .3em;
             outline: 0;
             padding: .4em .4em;
             border: none;
             font-style: italic;
             font-size: .9em;
             width: 60%;
          }



//Speakers

.Speaker {
   margin-bottom: 2em;
   text-align: center;
   display: inline-block;
   width: 100%;
   @include respond-to(large-device) {
      width: auto;
  }
}

  .Speaker-Picture {
     width: 200px;
     height: 200px;
     margin: 0 auto;
     overflow: hidden;
     border-radius: 50%;
     display: inline-block;
     @include respond-to(mediun-device) {
       margin-right: .7em;
     }
     @include respond-to(xlarge-device) {
        width: 240px;
        height: 240px
     }
  }

 .Speaker-Body {
     display: inline-block;
     margin-top: 1em;
     vertical-align: top;
     @include respond-to(mediun-device) {
        width: 50%;
        margin-top: 0;
     }
     @include respond-to(xlarge-device) {
        width: 300px;
        margin-right: 1.7em;
     }
 }

    .Speaker-Name {
        margin: 0;
        font-size: 1.5em;
    }

    .Speaker-History  {
        text-align: left;
        font-size: .9em;
    }

    .Speaker-Item {
       width: (100% / 3);
       float: left;
       box-sizing: border-box;
       font-size: .8em;

       &:not(:first-child):not(:last-child) {
          border-left: solid 1px white;
          border-right: solid 1px white;
       }

       * {
           display: block;
       }

    }

       .Speaker-Icon { 
          position: relative;
          font-size: 3em; 
          margin-bottom: .3em;

          &:after {
            position: absolute;
            content: '';
            color: #f92e70;
            text-transform: uppercase;
            bottom: -3px;
            left: 0;
            right: 0;
            font-size: 10px;
            text-align: center;
            font-style: normal;

          }

          &.debut:after { content: 'debut'; }
          &.next:after { content: 'next gig'; }
          &.gen:after { content: 'genre'; }
        }

       .Speaker-Text { word-spacing: 300px; }


//FORM
.Reserve-Title {
    display: inline-block;
    font-size: 1.1em;
}

.Reserve-Icon {
    display: inline-block;
    vertical-align: middle;
     margin-right: .4em;
     font-size: 2em;
}

.Reserve-Text {
   margin-top: 0;
   font-size: .9em;
}

.Reserve-Form { counter-reset: section; }

  .Reserve-InputContainer {
      position: relative;
      width: 100%;
      margin-bottom: .7em;
      box-sizing: border-box;

      * { 
          height: 40px; 
          box-sizing: border-box;
        }
  }

      .Reserve-Holder {
          position: relative;
          float: left;
          padding: .3em .5em;
          width: 15%;
          text-align: center;
          line-height: 2;
          color: white;
          background-color: #00f2ff;

          &:before {
              position: absolute;
              counter-increment: section;
              content: counter(section);
              left: 0;
              right: 0;
          }
      }

      .Reserve-Input {
          width: 85%;
          padding: .3em .5em;
          border: none;
          outline: none;
          color: gray;
      }


//Booking 

.Booking {
   background-color: rgba(0, 0, 0, .4);
   font-size: 0;
   user-select: none;
   -webkit-user-select: none;
}

  .Booking-Table {
      width: (100% / 3);
      height: 150px;
      display: inline-block;
      text-align: center;
      font-size: 16px;
      user-select: none;
      -webkit-user-select: none;
      margin-bottom: 1em;

      &:hover img {
       -webkit-filter: grayscale(1);
      }

      img {
        width: 80%;
      }
  }
//Utilities

.u-btn {
   position: relative;
   display: inline-block;
   padding: .5em 1em;
   color: white;
   background-color: transparent;
   border-radius: .16em;
   text-transform: uppercase;
   border: 2px solid transparent;
   vertical-align: middle;

   &--underline {
     border-color: #ff2a70;
     color: #d0d5d9;
   }

   &--primary { background-color: #ff2a70; }
   &--secondary { background-color: #00f2ff; }

   strong {
      font-size: 1.2em;
      color: white;
   }
}




//BLURRED

.BlurredSection {
    position: relative;
    background: url(../../assets/images/texture.png) rgba(0, 0, 0, 0);
    width: 100%;
    height: 100%;
}

.Heading {
   position: relative;
   text-align: center;
   margin-bottom: 2em;

   &:before,
   &:after {
       position: absolute;
       content: '';
       border: solid 8px #ff2a70;
       border-left: solid 8px transparent !important;
       border-radius: 50%;
       bottom: -18px;
       left: 47.2%;
       transform: rotate(55deg);
   }

   &:after {
      border-color: white;
      left: initial;
      right: 47.2%;
      transform: rotate(100deg);
      bottom: -22px;
   }
}
  
  .Heading-title {
      &:before,
      &:after {
      	position: absolute;
      	content: '';
      	width: 22%;
      	height: 3px;
      	bottom: -10px;
      	border-bottom: solid 1px;
      }

      &:before { 
         left: 28%; 
         border-color: #ff2a70;
     }
      &:after { 
         right: 28%; 
         bottom: -15px;
     }
  }

.units:nth-child(odd) {
    margin-bottom: 1em;
}