.Navigation {}

    .Navigation-list,
    .Navigation-list--last {
        padding: 0;
        margin: 0;
        list-style: none;
        margin-top: 10px;
    }

        .Navigation-item {
            display: block;
            margin-bottom: .2em;
        }

        .Navigation-item:last-child  { 
            margin-bottom: 0; 
        }

            .Navigation-item a {
                color: white;
                text-align: center;
                display: block;
                padding: .9em 1em;
                border-radius: .5em .5em 0 0;
                transition: all .3s ease-in-out;
                &:hover {
                    background-color: black;
                }
             }

                .Navigation-list--last {
                    margin-top: 0;
                    background-color: black;
                    display: none;
                }
